body {
   background-color: AntiqueWhite;
}

h1 {
   color: navy;
   margin-left: 20px;
}

nav {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #1c5bce;
}

a {
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 42px;
   text-decoration: none;
   border-right: 1px solid #bbb;
}

a:hover {
   background-color: rgb(69, 110, 245);
}

table {
   background-color: lightblue;
}

.calendar {
   border-collapse: collapse;
   position: relative;
   width: 800px;
   height: 400px;
   margin-left: -400px;
   margin-top: 20px;
   top: 25%;
   left: 50%;
}


.input {
   border-collapse: collapse;
   position: fixed;
   width: 400px;
   height: 200px;
   margin-left: -200px;
   margin-top: -100px;
   top: 50%;
   left: 50%;
}

table tr td {
    text-align: center;
}

div.LargeImage {
    display: block;
    position: relative;
    margin-left: -250px;
    margin-top: 20px;
    top: 25%;
    left: 50%;
}

td>div.thumbnail {
   display: none;
}

td:hover>div.thumbnail {
   display: block;
}

img.large {
   width: 100%;
   max-width: 500px;
}

img.small {
   height: 100%;
   max-height: 30px;
}

.video {
   border-width: 0px;
   position: relative;
   margin-left: -280px;
   margin-top: 20px;
   left: 50%;
   top: 50%;
}

.twitter-border {
   position: relative;
   margin-top: 10px;
   margin-right: -200px;
   right: 50%;
   float: right;
   text-align: center;
}

.twitter-feed {
   height: 100%;
   width: 100%;
}

.tweet {
   vertical-align: middle;
}

.tictactoe {
   border: 1px solid;
   position: relative;
   width: 400px;
   margin-left: -200px;
   margin-top: 420px;
   margin-bottom: 100px;
   left: 50%;
}

.board {
   position: relative;
   width: 150px;
   height: 150px;
   margin-left: 25px;
}

.board td {
   width: 33.33%;
   position: relative;
}

.cell {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: gray;
}